main {
    width: 1110px;
    height: 629px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #EEF9BF;
}

.timer-container {
    position: absolute;
    top: 0;
    right: 40px;
    height: 100%;
}

.timer {
    width: 50px;
    height: 50px;
    position: sticky;
    top: 40px;
    background-color: #000000;
    color: antiquewhite;
    font-size: 40px;
    text-align: center;
}

.container-cards {
    width: 872px;
    height: 334px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card-parrot {
    width: 117px;
    height: 146px;
    margin: 17px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.front-face-rotation {
    transform: rotateY(-180deg);
}

.back-face-rotation {
    transform: rotateY(0deg);
}


.front-face div {
    width: 100px;
    height: 100px;
}

.back-face div {
    width: 100px;
    height: 100px;
}

img {
    width: 100%;
}

h1 {
    font-family: 'Roboto','helvetica',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    color: #75B79E;

}

@media (max-width: 335px) {
    main, .container-cards {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    h1 {
        font-size: 36px;
        text-align: center;
        line-height: 42px;
    }

    main {
        padding-top: 40px;
    }

    .timer {
        top: 90px;
    }
}